<div class="nav-bar row text-center">
	<div class="col-xs-4">
		<i class="fa fa-plus"></i> &nbsp; Adicionar amigo
	</div>
	<div class="col-xs-4">
		<button class="btn">
			<span class="config-button glyphicon glyphicon-cog" aria-hidden="true"></span>
		</button>
	</div>
	<div class="col-xs-4">
		<div class="fb-login-button" data-max-rows="1" data-size="small" data-show-faces="true" scope="email, user_friends"></div>
	</div>
</div>




<div class="text-center" ng-controller="PageController">
	<button class="btn btn-success" ng-click="payBill()">Eu quero pagar</button>
	<button class="btn btn-danger" ng-click="createBill()">Eu estou devendo</button>
</div>