.sidebar {
	background-color: #AEAEAE;
	height: 100%;
}


header,
footer {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	background-color: #222222 !important;
	color: #FFFFFF;
}

.content {
	background-color: #CFCFCF;
	height: 100%;
}
