/* Background color for `<body>`.*/
/** Global text color on `<body>`. */
/** Global textual link color. */
/** Link hover color set via `darken()` function. */
.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}
.full-screen {
  width: 100%;
  height: 100%;
}
hr.divisoria {
  color: #CFCFCF;
  background-color: #CFCFCF;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.inline {
  display: inline;
}
.center {
  margin: auto;
}
.center-wrapper {
  display: table;
  width: 100%;
}
.center-wrapper .center {
  display: table-cell;
  vertical-align: middle;
}
.center-wrapper .center .align {
  text-align: center;
  margin: auto;
}
.left {
  float: left;
}
.right {
  float: right;
}
.top {
  vertical-align: top;
}
.middle {
  vertical-align: middle;
}
.bottom {
  vertical-align: bottom;
}
.round-border {
  border-radius: 5px;
}
.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.fwhite {
  color: white;
}
.pointer {
  cursor: pointer;
}
.center-background {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.no-margin {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.hidden-overflow {
  text-rendering: optimizelegibility;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.overflow-auto {
  overflow: auto;
}
hr {
  margin-top: 0;
  margin-bottom: 0;
  border: none !important;
  height: 1px;
}
a.div-link:hover {
  text-decoration: none;
}
.col-centered {
  float: none;
  margin: 0 auto;
}
.img-border {
  border: 1px solid #CFCFCF;
}
